.divlateral {
    width: 200px;
    right:300px;
    left: 1000px;
    height: 1000px;
    background-color: blueviolet;
}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
      color:blueviolet;
        }
